# PHPUnit
/phpunit.xml
.phpunit.result.cache

# composer
/composer.phar
/composer.lock
/auth.json
/vendor

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

# IDEs
.idea/*
*.iml
*~

# Cached Files
*~

# Git Authentication File
/auth.json

# System files
.DS_Store

# Dependencies
/vendor/

# frontend caches
bower_components/
.tmp/
.sass-cache/
node_modules/
npm-debug.log

# tests
/Tests/Application/*.local
/Tests/Application/var

/nbproject/*

# php-cs-fixer
.php_cs.cache
.php-cs-fixer.cache
