# IDEs
.idea/*
*.iml
*~

# Cached Files
*~

# Git Authentication File
/auth.json

# System files
.DS_Store

# Dependencies
/vendor/

# frontend caches
bower_components/
.tmp/
.sass-cache/
node_modules/
npm-debug.log

