# PHPUnit
/app/phpunit.xml
/phpunit.xml

# composer
/composer.phar
/composer.lock
/auth.json
/vendor

# Backup entities generated with doctrine:generate:entities command
*/Entity/*~

# IDEs
.idea/*
*.iml
*~

# Cached Files
*~

# Git Authentication File
/auth.json

# System files
.DS_Store

# Dependencies
/vendor/

# frontend caches
bower_components/
.tmp/
.sass-cache/
node_modules/
npm-debug.log

# tests
Tests/app/cache
Tests/app/logs
Tests/app/data

