includes:
    - phpstan-baseline.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    paths:
        - .
    level: max
    excludePaths:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/Tests/*
        - %currentWorkingDirectory%/DependencyInjection/Configuration.php
        - %currentWorkingDirectory%/Tests/prophecy-trait-bc-layer.php
    symfony:
        container_xml_path: %rootDir%/../../../Tests/Application/var/cache/admin/dev/Sulu_Bundle_FormBundle_Tests_Application_KernelDevDebugContainer.xml
        console_application_loader: Tests/phpstan/console-application.php
    doctrine:
        objectManagerLoader: Tests/phpstan/object-manager.php
