parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$name of method Sulu\\Bundle\\AdminBundle\\Admin\\View\\ViewBuilderFactoryInterface\:\:createListViewBuilder\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Admin/DynamicListAdmin.php

		-
			message: '#^Parameter \#1 \$tabOrder of method Sulu\\Bundle\\AdminBundle\\Admin\\View\\ListViewBuilderInterface\:\:setTabOrder\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Admin/DynamicListAdmin.php

		-
			message: '#^Parameter \#1 \$viewName of method Sulu\\Bundle\\AdminBundle\\Admin\\View\\ViewCollection\:\:has\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Admin/DynamicListAdmin.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: Admin/DynamicListAdmin.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: array.invalidKey
			count: 2
			path: Admin/DynamicListAdmin.php

		-
			message: '#^Cannot call method setForm\(\) on Sulu\\Bundle\\FormBundle\\Entity\\FormTranslation\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: Command/FormGeneratorCommand.php

		-
			message: '#^Cannot call method setLocale\(\) on Sulu\\Bundle\\FormBundle\\Entity\\FormTranslation\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: Command/FormGeneratorCommand.php

		-
			message: '#^Cannot call method setOptions\(\) on Sulu\\Bundle\\FormBundle\\Entity\\FormFieldTranslation\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: Command/FormGeneratorCommand.php

		-
			message: '#^Cannot call method setTitle\(\) on Sulu\\Bundle\\FormBundle\\Entity\\FormFieldTranslation\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: Command/FormGeneratorCommand.php

		-
			message: '#^Cannot call method setTitle\(\) on Sulu\\Bundle\\FormBundle\\Entity\\FormTranslation\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: Command/FormGeneratorCommand.php

		-
			message: '#^Property Sulu\\Bundle\\FormBundle\\Configuration\\FormConfiguration\:\:\$adminMailConfiguration \(Sulu\\Bundle\\FormBundle\\Configuration\\MailConfigurationInterface\) does not accept Sulu\\Bundle\\FormBundle\\Configuration\\MailConfigurationInterface\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: Configuration/FormConfiguration.php

		-
			message: '#^Property Sulu\\Bundle\\FormBundle\\Configuration\\FormConfiguration\:\:\$websiteMailConfiguration \(Sulu\\Bundle\\FormBundle\\Configuration\\MailConfigurationInterface\) does not accept Sulu\\Bundle\\FormBundle\\Configuration\\MailConfigurationInterface\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: Configuration/FormConfiguration.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: Controller/DynamicController.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: Controller/SelectApi/MailchimpListSelectController.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Controller/SelectApi/MailchimpListSelectController.php

		-
			message: '#^Cannot access offset ''name'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Controller/SelectApi/MailchimpListSelectController.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Controller\\SelectApi\\MailchimpListSelectController\:\:fetchAll\(\) should return array\<array\{id\: mixed, title\: string\}\> but returns list\<array\{id\: mixed, title\: mixed\}\>\.$#'
			identifier: return.type
			count: 1
			path: Controller/SelectApi/MailchimpListSelectController.php

		-
			message: '#^Cannot access offset ''alias'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: DependencyInjection/CompilerPass/DynamicListBuilderCompilerPass.php

		-
			message: '#^Cannot access offset string on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: DependencyInjection/CompilerPass/RemoveTaggedServiceCollectorCompilerPass.php

		-
			message: '#^Parameter \#2 \$haystack of function in_array expects array, array\|bool\|float\|int\|string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: DependencyInjection/CompilerPass/RemoveTaggedServiceCollectorCompilerPass.php

		-
			message: '#^Binary operation "\." between ''sulu_form\.media…'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Cannot access offset ''collection_strategy'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Cannot access offset ''customer'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Cannot access offset ''customer_plain_text'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Cannot access offset ''default'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Cannot access offset ''delimiter'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Cannot access offset ''field'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Cannot access offset ''from'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Cannot access offset ''notify'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Cannot access offset ''notify_plain_text'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Cannot access offset ''protected'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Cannot access offset ''sender'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Cannot access offset ''strategy'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Cannot access offset ''templates'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Cannot access offset ''to'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Parameter \#2 \$value of method Symfony\\Component\\DependencyInjection\\Container\:\:setParameter\(\) expects array\|bool\|float\|int\|string\|UnitEnum\|null, mixed given\.$#'
			identifier: argument.type
			count: 21
			path: DependencyInjection/SuluFormExtension.php

		-
			message: '#^Parameter \#3 \$options of method Symfony\\Component\\Form\\FormBuilderInterface\<mixed\>\:\:add\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: Dynamic/Types/CheckboxMultipleType.php

		-
			message: '#^Parameter \#3 \$options of method Symfony\\Component\\Form\\FormBuilderInterface\<mixed\>\:\:add\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: Dynamic/Types/DropdownMultiple.php

		-
			message: '#^Parameter \#3 \$options of method Symfony\\Component\\Form\\FormBuilderInterface\<mixed\>\:\:add\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: Dynamic/Types/DropdownType.php

		-
			message: '#^Cannot access an offset on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Dynamic/Types/EmailType.php

		-
			message: '#^Cannot access offset ''type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Dynamic/Types/FreeTextType.php

		-
			message: '#^Cannot access offset ''type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Dynamic/Types/HeadlineType.php

		-
			message: '#^Parameter \#3 \$options of method Symfony\\Component\\Form\\FormBuilderInterface\<mixed\>\:\:add\(\) expects array\<string, mixed\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: Dynamic/Types/RadioButtonsType.php

		-
			message: '#^Cannot access offset ''options'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Dynamic/Types/RecaptchaType.php

		-
			message: '#^Cannot access offset ''type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Dynamic/Types/SpacerType.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getAttachment\(\) should return array\<int\>\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getCheckbox\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getCheckboxMultiple\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getCity\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getCompany\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getCountry\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getData\(\) should return array\<mixed\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getDate\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getDropdown\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getDropdownMultiple\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getEmail\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getFax\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getFirstName\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getFunction\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getLastName\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getPhone\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getRadioButtons\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getSalutation\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getState\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getStreet\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getText\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getTextarea\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getTitle\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:getZip\(\) should return string\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Property Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:\$data \(string\|null\) does not accept string\|false\.$#'
			identifier: assign.propertyType
			count: 2
			path: Entity/Dynamic.php

		-
			message: '#^Property Sulu\\Bundle\\FormBundle\\Entity\\Dynamic\:\:\$webspaceKey \(string\) does not accept string\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: Entity/Dynamic.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Entity\\FormFieldTranslation\:\:getOptions\(\) should return array\<mixed\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Entity/FormFieldTranslation.php

		-
			message: '#^Property Sulu\\Bundle\\FormBundle\\Entity\\FormFieldTranslation\:\:\$options \(string\|null\) does not accept string\|false\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: Entity/FormFieldTranslation.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: Event/BrevoListSubscriber.php

		-
			message: '#^Cannot access offset ''listId'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Event/BrevoListSubscriber.php

		-
			message: '#^Cannot access offset ''mailTemplateId'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Event/BrevoListSubscriber.php

		-
			message: '#^Cannot access offset ''options'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: Event/BrevoListSubscriber.php

		-
			message: '#^Cannot access offset ''redirectLink'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Event/BrevoListSubscriber.php

		-
			message: '#^Cannot access offset ''type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: Event/BrevoListSubscriber.php

		-
			message: '#^Cannot access offset ''value'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: Event/BrevoListSubscriber.php

		-
			message: '#^Parameter \#1 \$hrefs of method Sulu\\Bundle\\MarkupBundle\\Markup\\Link\\LinkProviderInterface\:\:preload\(\) expects array\<string\>, array\<int, string\|null\> given\.$#'
			identifier: argument.type
			count: 1
			path: Event/BrevoListSubscriber.php

		-
			message: '#^Parameter \#1 \$redirectLink of method Sulu\\Bundle\\FormBundle\\Event\\BrevoListSubscriber\:\:getUrlFromLink\(\) expects array\{provider\: string\|null, target\: string\|null, anchor\: string\|null, query\: string\|null, href\: string\|null, title\: string\|null, rel\: string\|null, locale\: string\|null\}, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Event/BrevoListSubscriber.php

		-
			message: '#^Parameter \#2 \$locale of method Sulu\\Bundle\\MarkupBundle\\Markup\\Link\\LinkProviderInterface\:\:preload\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: Event/BrevoListSubscriber.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: Event/BrevoListSubscriber.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: Event/MailchimpListSubscriber.php

		-
			message: '#^Binary operation "\." between ''lists/'' and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: Event/MailchimpListSubscriber.php

		-
			message: '#^Cannot access offset ''listId'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Event/MailchimpListSubscriber.php

		-
			message: '#^Cannot access offset ''options'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Event/MailchimpListSubscriber.php

		-
			message: '#^Cannot access offset ''type'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: Event/MailchimpListSubscriber.php

		-
			message: '#^Cannot access offset ''value'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: Event/MailchimpListSubscriber.php

		-
			message: '#^Parameter \#1 \$email of method DrewM\\MailChimp\\MailChimp\:\:subscriberHash\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Event/MailchimpListSubscriber.php

		-
			message: '#^Parameter \#2 \.\.\.\$arrays of function array_merge expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Event/ProtectedMediaSubscriber.php

		-
			message: '#^Parameter \#1 \$object of method Doctrine\\Persistence\\ObjectManager\:\:persist\(\) expects object, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Form/Handler.php

		-
			message: '#^Parameter \#1 \$objectOrArray of method Symfony\\Component\\PropertyAccess\\PropertyAccessor\:\:setValue\(\) expects array\<mixed\>\|object, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Form/Handler.php

		-
			message: '#^Parameter \#1 \$value of function count expects array\|Countable, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: Form/Handler.php

		-
			message: '#^Parameter \#2 \$mediaIds of method Sulu\\Bundle\\FormBundle\\Form\\Handler\:\:mapMediaIds\(\) expects array\<int\>, array\<mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: Form/Handler.php

		-
			message: '#^Parameter \#1 \$formEntityId of class Sulu\\Bundle\\FormBundle\\Exception\\FormNotFoundException constructor expects int, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: Form/Type/DynamicFormType.php

		-
			message: '#^Parameter \#3 \$formId of method Sulu\\Bundle\\FormBundle\\Dynamic\\Checksum\:\:get\(\) expects int, int\|null given\.$#'
			identifier: argument.type
			count: 1
			path: Form/Type/DynamicFormType.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\ListBuilder\\DynamicListBuilder\:\:toString\(\) should return string but returns float\|int\|string\.$#'
			identifier: return.type
			count: 1
			path: ListBuilder/DynamicListBuilder.php

		-
			message: '#^Parameter \#1 \$value of class Sulu\\Bundle\\FormBundle\\Exception\\InvalidListBuilderValueException constructor expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: ListBuilder/DynamicListBuilder.php

		-
			message: '#^Parameter \#1 \$value of method Sulu\\Bundle\\FormBundle\\ListBuilder\\DynamicListBuilder\:\:getMediaUrl\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: ListBuilder/DynamicListBuilder.php

		-
			message: '#^Parameter \#2 \$array of function implode expects array\<string\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: ListBuilder/DynamicListBuilder.php

		-
			message: '#^Instanceof between SplFileInfo and SplFileInfo will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: Mail/MailerHelper.php

		-
			message: '#^Parameter \#1 \$address of class Symfony\\Component\\Mime\\Address constructor expects string, int\|string given\.$#'
			identifier: argument.type
			count: 1
			path: Mail/MailerHelper.php

		-
			message: '#^Cannot access offset ''id'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Manager/FormManager.php

		-
			message: '#^Cannot access offset ''key'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: Manager/FormManager.php

		-
			message: '#^Parameter \#1 \$datetime of class DateTime constructor expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Manager/FormManager.php

		-
			message: '#^Parameter \#1 \$locale of method Sulu\\Bundle\\FormBundle\\Entity\\Form\:\:getTranslation\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: Manager/FormManager.php

		-
			message: '#^Parameter \#1 \$title of method Sulu\\Bundle\\FormBundle\\Media\\CollectionStrategyTree\:\:createCollection\(\) expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: Media/CollectionStrategyTree.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Metadata\\DynamicFormMetadataLoader\:\:getMetadata\(\) should return Sulu\\Bundle\\AdminBundle\\Metadata\\MetadataInterface\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: Metadata/DynamicFormMetadataLoader.php

		-
			message: '#^Parameter \#1 \$data of function unserialize expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: Metadata/DynamicFormMetadataLoader.php

		-
			message: '#^Parameter \#1 \$id of method Sulu\\Bundle\\FormBundle\\Manager\\FormManager\:\:findById\(\) expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: Metadata/DynamicListMetadataLoader.php

		-
			message: '#^Cannot call method item\(\) on DOMNodeList\<DOMNameSpaceNode\|DOMNode\>\|false\.$#'
			identifier: method.nonObject
			count: 1
			path: Metadata/PropertiesXmlLoader.php

		-
			message: '#^Parameter \#2 \$context of method Sulu\\Bundle\\AdminBundle\\Metadata\\FormMetadata\\Parser\\PropertiesXmlParser\:\:load\(\) expects DOMNode, DOMNameSpaceNode\|DOMNode given\.$#'
			identifier: argument.type
			count: 1
			path: Metadata/PropertiesXmlLoader.php

		-
			message: '#^Method Sulu\\Bundle\\FormBundle\\Repository\\FormRepository\:\:getValue\(\) should return int\|null but returns mixed\.$#'
			identifier: return.type
			count: 2
			path: Repository/FormRepository.php

		-
			message: '#^Call to static method Webmozart\\Assert\\Assert\:\:isInstanceOf\(\) with Sulu\\Bundle\\FormBundle\\Entity\\Form and ''Sulu\\\\Bundle\\\\FormBundle\\\\Entity\\\\Form'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: Trash/FormTrashItemHandler.php

