includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon

parameters:
    paths:
        - .
    level: 5
    symfony:
            container_xml_path: %rootDir%/../../../Tests/Application/var/cache/admin/dev/Sulu_Bundle_FormBundle_Tests_Application_KernelDevDebugContainer.xml
    excludes_analyse:
        - %currentWorkingDirectory%/vendor/*
        - %currentWorkingDirectory%/Tests/*
        - %currentWorkingDirectory%/DependencyInjection/Configuration.php
    ignoreErrors:
        - '#Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch()#'
        - '#Cannot assign offset \x27[a-zA-Z0-9\\_]+\x27 to string.#' #\x27 represents the single quote character '
        -
            message: '#caught "Exception" must be rethrown#'
            path: Event/RequestListener.php
