{% include 'L91SuluFormBundle:forms:fields/default-fields.html.twig' %}

<div class="grid-col-11"
     id="ddms5"
     data-type-label="category"
     data-mapper-property="dropdown"
     data-type="husky-select"
     data-form="true">
</div>