{% extends "SuluFormBundle:forms:fields/choice-field.html.twig" %}

{% block placeholder_default %}
    <div class="grid">
        <div class="grid-row m-bottom-20">
            {% block default %}
                <div class="grid-col-12 floating form-group">
                    <label for="default-value<~=index~>" class="pointer" title="Default Value">
                        <%= translate('sulu_form.default') %>
                    </label>

                    <textarea id="default-value<~=index~>"
                              data-property="defaultValue"
                              class="form-element preview-update trigger-save-button"
                              data-mapper-property="defaultValue"></textarea>

                    <div class="block-content" data-sort-mode-id="{{ blockId }}defaultValue<~=index~>"></div>

                    <div class="input-description"></div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block extended %}
    <div class="grid">
        <div class="grid-row m-bottom-20">
            <div class="grid-col-12 floating form-group">
                <label for="choices<~=index~>"
                       class="pointer"
                       title="Choice">
                    <%= translate('sulu_form.choice') %>
                </label>

                <textarea id="choices<~=index~>"
                          data-property="options[choices]"
                          class="form-element preview-update trigger-save-button"
                          data-mapper-property="options[choices]"></textarea>

                <div class="block-content" data-sort-mode-id="{{ blockId }}title<~=index~>"></div>

                <div class="input-description"></div>
            </div>
        </div>
    </div>
{% endblock %}
