
<div class="grid-col-12 floating form-group">
    <label for="title" class="pointer"
           title="Titel">
        Titel
    </label>

    <input id="title"
           data-property='title'
           type="text"
           class="form-element preview-update trigger-save-button"
           data-mapper-property="title"/>

    <div class="block-content" data-sort-mode-id="title"></div>

    <div class="input-description"></div>
</div>