<form id="form-form">
    <div class="grid">
        <div class="grid-row m-bottom-40">
            <div class="grid-col-12">
                <div class="form-group">
                    <label for="title"><%= translate('Title') %></label>

                    <div id="title-element" class="form-element husky-validate"
                         data-type="husky-input"
                         data-aura-component="input@husky"
                         data-aura-instance-name="title"
                         data-form="true"
                         data-validation-required="true"
                         autofocus
                         data-mapper-property="title" />
                </div>
            </div>
        </div>
    </div>
</form>
